<!DOCTYPE html>
<html>
<head>
<title>DOM Example</title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<h1>You have ultimate power! thanks to DOM</h1>
<p>Click on an element to select it. click one of the buttons to add something
  to it... try not to break it. I don't check to see if you can add what your
  telling me to add... really. You have been warned.</p>

  <script>
    //selected element
    var selection;
    //text
    var textarea = function {
      let textarea = new document.createElement(input);
      textarea.
    }
    //div
    //button
    //img
    //video
    //canvas

  </script>

</body>
</html>
