<!DOCTYPE html>
<html>
<head>
<title>CS261:02 Wesley G. Dike Home</title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<h1>CS261:02 Wesley G. Dike Home</h1>
<h3>Coding Topics</h3>
<p>A list of assignments based on coding topics.</p>
<a href="JavaScriptBasics.html">JavaScript Basics</a></br>
<a href="JavaScriptObjects.html">JavaScript Objects</a></br>
<a href="JSONExample.html">JSON Example</a></br>
<a href="AJAXExample.html">AJAX Example</a></br>
<a href="LocalStorageExample.html">Local Storage Example</a></br>
<a href="beatsnstuff.html">Beat Box App</a></br>
<a href="mealplanner.html">Meal Planner Final</a></br>

</body>
</html>
