<!DOCTYPE html>
<html>
<head>
<title>CS261:02 Wesley G. Dike Home</title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<h1>CS261:02 Wesley G. Dike Home</h1>
<h3>Coding Topics</h3>
<p>A list of assignments based on coding topics.</p>
<a href="JavaScriptBasics.html">JavaScript Basics</a></br>
<a href="JavaScriptObjects.html">JavaScript Objects</a></br>
<a href="JSONExample.html">JSON Example</a></br>
<a href="AJAXExample.html">AJAX Example</a></br>
<a href="DOMExample.html">DOM Example</a></br>
<a href="LocalStorageExample.html">Local Storage Example</a></br>
<a href="CSS3transandAnim.html">CSS3 Transitions and Animations</a></br>
<a href="ManipulatingCSS.html">Manipulating CSS Class Properties</a></br>
<a href="JavaScriptEvents.html">Standard JavaScript Events</a></br>
<a href="CSS3Transforms.html">CSS3 Transforms</a></br>
<a href="CSS3Transitions.html">CSS3 Transitions</a></br>
<a href="HTML5Tags.html">HTML5 Tags</a></br>
<a href="CSS3Animations.html">CSS3 Animations</a></br>


</body>
</html>
