* {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

div{
  border: 5px solid black;
  border-radius: 15px;
}
table{
  border: 2px solid black;
}
.grey{
  background-color: Gainsboro;
}
.navy{
  background-color: SteelBlue;
}
.offwhite{
  background-color: Cornsilk;
}
.content {
    max-width: 500px;
    margin: auto;
}
